Package: com.pixelomer.mobilegoose
Name: MobileGoose
Depends: mobilesubstrate, preferenceloader
Version: 2.0
Architecture: iphoneos-arm
Description: An annoying goose for your Rootless iOS 15-16 iDevice
Maintainer: zsaaiq
Author: pixelomer, zsaaiq
Section: Tweaks
Icon: https://zsaaiq.github.io/jailbreakrepo/images/MobileGoose.png
