Package: me.zsaaiq.mobilegoose
Name: MobileGoose Rootless
Depends: mobilesubstrate, preferenceloader
Version: 2.0
Architecture: iphoneos-arm iphoneos-arm64
Description: An annoying goose for your iDevice updated for iOS 15 and 16
Maintainer: zsaaiq
Author: zsaaiq pixelomer
Section: Tweaks
