Package: com.pixelomer.colorfulgoose
Name: ColorfulGoose
Description: Add color to your goose
Version: 2.0
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: com.pixelomer.mobilegoose (>=2.0)
Maintainer: zsaaiq
Author: PixelOmer, zsaaiq
SileoDepiction: https://zsaaiq.github.io/jailbreakrepo/sileodepictions/mobilegoose-colorfulgoose.json
Icon: https://zsaaiq.github.io/jailbreakrepo/images/mobilegoose-colorfulgoose.png
Icon: https://zsaaiq.github.io/jailbreakrepo/images/colorfulgoose.png
